<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Books</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        li a {
            text-decoration: none;
            color: #007bff;
        }

        li a:hover {
            text-decoration: underline;
        }

        .create-link {
            display: block;
            text-align: center;
            margin-top: 20px;
            text-decoration: none;
            color: #007bff;
        }

        .create-link:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>List of Books</h2>
        <ul>
            <% books.forEach(function(book) { %>
                <li>
                    <a href="/books/detail/<%= book._id %>"><%= book.name %></a>
                    
                </li>
            <% }); %>
        </ul>
    </div>
    <a href="/books/create" class="create-link">Create New Book</a>
</body>
</html>
-->

<%- include('../layout/header') %>


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Bảng Sách</h6>
                <a href="/books/create" class="btn btn-primary">Create</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Số thứ tự</th>
                            <th scope="col">Tên Sách</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <% books.forEach(function(book, index) { %>
                            <tr>
                                <th scope="row"><%= index + 1 %></th>
                                <td><a href="/books/detail/<%= book._id %>"><%= book.name %></a></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
   
<%- include('../layout/footer') %>

