<%- include('../layout/header') %>

<div class="col-sm-12 col-xl-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Bảng  Chi Tiết Người Dùng</h6>
        <table class="table">
            <thead>
                <tr>           
                    <th scope="col">Tên Người Dùng</th>
                    <th scope="col">Email Người Dùng</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <td><a href="/users/update/<%= user._id %>" class="btn btn-primary m-2">Chỉnh Sửa</a>
                            <a> <form action="/users/delete/<%= user._id %>" method="POST">
                                    <button type="submit" class="btn btn-danger m-2"  onclick="return confirm('Bạn có muốn xóa người dùng này?')">Xóa</button>
                                </form>
                            </a> 
                            <a>
                              <a href="/users/index" class="btn btn-warning m-2">Back to List</a>
                            </a>
                        </td>
                           
                       
                    </tr>
            </tbody>
        </table>
    </div>
</div>
<%- include('../layout/footer') %>